<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/styles/jogos-rodada.css">

    <title>
        Goal Tickets - Palmeiras x Internacional
    </title>
</head>
<body>
    <div class="navbar">
        <div class="header-inner-content">
            <a href="/"><h1 class="logo">GOAL<span>TICKETS</span></h1></a>
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/Rodada1"><li>Jogos</li></a>
                    <a href="/Ajuda"><li>Ajuda</li></a>
                    <a href="/Login"><li id="conta">Conta</li></a>
                    <a href="/Perfil"><li class="menu-especial" id="perfil">Perfil</li></a>
                    <button class="logout" id="logout">Sair</button>
                </ul>
            </nav>
            <div class="nav-icon-content">
                <h3 id="usuario" class="usuario"></h3>
                <a href="/Login" id="perfil-button"><img src="../../../static/midias/Perfil.png" alt="icone de perfil" class="perfil-button"></a>
                <img src="../../../static/midias/Menu.png" alt="icone menu de opções" class="menu-button">
            </div>
        </div>
    </div>




    <main>
        <div class="white-background">
            <div class="lado-direito">
                <div class="lado-direito-inferior">
                    <a href="/Pagamento">
                        <div class="ingressos norte">
                            <h2 class="nome-ingresso">Arquibancada Setor Norte</h2>
                            <h2 class="valor">R$ 150,00</h2>
                        </div>
                        <div class="ingressos sul">
                            <h2 class="nome-ingresso">Arquibancada Setor Sul</h2>
                            <h2 class="valor">R$ 150,00</h2>
                        </div>
                        <div class="ingressos leste">
                            <h2 class="nome-ingresso">Arquibancada Setor Leste</h2>
                            <h2 class="valor">R$ 190,00</h2>
                        </div>
                        <div class="ingressos oeste">
                            <h2 class="nome-ingresso">Arquibancada Setor Oeste</h2>
                            <h2 class="valor">R$ 190,00</h2>
                        </div>
                        <div class="ingressos visitante">
                            <h2 class="nome-ingresso">Arquibancada Setor Visitante</h2>
                            <h2 class="valor">R$ 170,00</h2>  
                        </div>
                    </a>
                    <div class="ingressos meia">
                        <h2 class="nome-ingresso ingresso-meia">Arquibancada Meia Entrada</h2>
                        <h2 class="valor">         </h2> 
                    </div>
                </div>

                <div class="div-meia">
                    <a href="/Pagamento">
                        <div class="ingressos norte">
                            <h2 class="nome-ingresso">Arquibancada Setor Norte</h2>
                            <h2 class="valor">R$ 75,00</h2>
                        </div>
                        <div class="ingressos sul">
                            <h2 class="nome-ingresso">Arquibancada Setor Sul</h2>
                            <h2 class="valor">R$ 75,00</h2>
                        </div>
                        <div class="ingressos leste">
                            <h2 class="nome-ingresso">Arquibancada Setor Leste</h2>
                            <h2 class="valor">R$ 95,00</h2>
                        </div>
                        <div class="ingressos oeste">
                            <h2 class="nome-ingresso">Arquibancada Setor Oeste</h2>
                            <h2 class="valor">R$ 95,00</h2>
                        </div>
                        <div class="ingressos visitante">
                            <h2 class="nome-ingresso">Arquibancada Setor Visitante</h2>
                            <h2 class="valor">R$ 85,00</h2>  
                        </div>
                    </a>
                </div>
            </div>
            <div class="lado-esquerdo">
                <h2 class="titulo-lado-esquerdo">Mapa do Estádio:</h2>
                <img src="../../../../../static/midias/Estadio.png" alt="Estadio" class="estadio">
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="info-contato">
            <h3 class="h3-footer">Contato</h3>
            <p class="p-footer">Endereço: Rua 7 de Setembro, N° 1314 <br> Centro, Blumenau - SC, 89010-202</p>
            <p class="p-footer">Telefone: (47) 3332-4596</p>
            <p>Email: contato@goaltickets.com.br</p>
        </div>
        <div class="logo-footer">
            <img src="../../../../../static/midias/Logo-2.png" alt="Logo da Goal Tickets">
        </div>
        <div class="politicas">
            <h3 class="h3-footer">Políticas de Copyright</h3>
            <p class="p-footer">&copy; 2024 Goal Tickets. Todos os direitos reservados.</p>
            <p>Termos de Uso | Política de Privacidade</p>
        </div>
    </footer>
    <script>
        const navbar = document.querySelector(".navbar");
        const menuButton = document.querySelector(".menu-button");

        menuButton.addEventListener("click", () => {
            navbar.classList.toggle("show-menu");
        });

        // Seleciona o elemento com a classe "meia"
        const divMeia = document.querySelector('.meia');

        // Adiciona um event listener para o clique nesse elemento
        divMeia.addEventListener('click', () => {
        // Seleciona a div com a classe "div-meia"
        const divMeiaContent = document.querySelector('.div-meia');
        
        // Verifica se a div-meia está visível
        const isVisible = divMeiaContent.classList.contains('visible');
        
        // Se estiver visível, remove a classe para esconder a div-meia
        if (isVisible) {
            divMeiaContent.classList.remove('visible');
        } else {
            // Caso contrário, adiciona a classe para mostrar a div-meia
            divMeiaContent.classList.add('visible');
        }
        });

        var status = "{{ status }}"
        var nome = "{{ nome_perfil }}";
        var conta = document.getElementById("conta");
        var perfil = document.getElementById("perfil");
        var logout = document.getElementById("logout")
        const usuario = document.getElementById('usuario');
        
        if (status === "Logado") {
            conta.style.display = "none";
            perfil.style.display = "block";
            logout.style.display = "block";
            usuario.innerText = nome;

            document.addEventListener('DOMContentLoaded', function() {
                var perfilLink = document.getElementById('perfil-button');
                perfilLink.href = '/Perfil';
            });
        } 

        if (status === "deslogado") {
            conta.style.display = "block";
            perfil.style.display = "none";
            logout.style.display = "none";
            usuario.innerText = "";
        }

        document.getElementById('logout').addEventListener('click', function() {
            window.location.href = '/logout';
        });
    </script>
</body>