* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: whitesmoke;
}

.navbar {
    background-color: white;
    padding: 1rem;
    z-index: 1;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #2F843A;
    box-shadow: 0 2px 2px #2F843A;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    color: black;
}

.logo span {
    color: #2F843A;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.logout {
    display: none;
    width: 70px;
    height: 25px;
    font-size: 0.9rem;
    border: none;
    border-radius: 15px;
    background-color:rgba(128, 128, 128, 0.618);
    color: white;
    cursor: pointer;
    transition: all 0.s;
}

.logout:hover {
    background-color: #2f843aec;
    color: black;
}


.nav-icon-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.usuario {
    font-size: 1rem;
    color: #2F843A;
    margin-bottom: 0%;
    font-weight: 700;
}

.nav-icon-content img {
    width: 30px;
    cursor: pointer;
}

nav ul li {
    color: black;
    margin-right: 3.5rem;
    cursor: pointer;
    transition: all 0.4s;
}

.li-especial {
    margin-right: 0px;
}

.menu-especial {
    display: none;
}

nav ul li:hover {
    transform: translateY(-5px);
    color: #2F843A;
}

.carrinho-button {
    margin-left: 10px;
}

.perfil-button {
    margin-left: 20px;
    margin-right: 20px;
}

.menu-button {
    display: none;
}

header {
    display: flex;
    align-items: center;
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 110px;
    padding-bottom: 110px;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bottom-side-left h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.header-bottom-side-left p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}


.header-bottom-side-left button {
    background-color: #2F843A;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.4s;
}


.header-bottom-side-left button:hover {
    background-color: #1b4d22;
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 15px
}


/* Media Querys */

@media (max-width: 1200px) {
    .header-bottom-side-right img {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .logout {
        width: 35%;
        margin-bottom: 15px;
    }

    .logo {
        font-size: 2rem;
    }

    .menu-button {
        display: block;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .header-bottom-side-left button {
        margin-bottom: 30px;
    }

    .header-bottom-side-right img {
        margin-top: 50px;
        width: 60%;
    }

    nav {
        position: absolute;
        background-color: white;
        width: 100%;
        top: 58px;
        display: none;
        cursor: pointer;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        border: solid 1px #2F843A;
        border-top: solid 3px #2F843A;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
        margin: 0px;
        transition: all 0.4s;
        border-bottom: 1px solid #2F843A;
    }

    nav ul li:last-child {
        border-bottom: none;
    }

    nav ul li:hover {
        color: black;
        transform: none;
        background-color: #2f843a8a;
    }

    .li-especial {
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        transition: none;
    }
}

@media (max-width: 550px) {
    .usuario {
        margin-right: 20px;
    }
    
    .header-bottom-side-right img {
        width: 80%;
    }

    nav {
        top: 55px;
    }

    .carrinho-button, .perfil-button {
        display: none;
    }

    .menu-especial {
        display: block;
    }
}






header {
    display: flex;
    align-items: center;
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 110px;
    padding-bottom: 110px;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bottom-side-left h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.header-bottom-side-left p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}


.header-bottom-side-left button {
    background-color: #2F843A;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.4s;
}


.header-bottom-side-left button:hover {
    background-color: #1b4d22;
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 15px
}


/* Media Querys */

@media (max-width: 1200px) {
    .header-bottom-side-right img {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .logo {
        font-size: 2rem;
    }

    .nav-icon-content img:first-child {
        margin-right: 2rem;
    }

    .menu-button {
        display: block;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .header-bottom-side-left button {
        margin-bottom: 30px;
    }

    .header-bottom-side-right img {
        margin-top: 50px;
        width: 60%;
    }

    nav {
        position: absolute;
        background-color: white;
        width: 100%;
        top: 58px;
        display: none;
        cursor: pointer;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        border: solid 1px #2F843A;
        border-top: solid 3px #2F843A;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
        margin: 0px;
        transition: all 0.4s;
        border-bottom: 1px solid #2F843A;
    }

    nav ul li:last-child {
        border-bottom: none;
    }

    nav ul li:hover {
        color: black;
        transform: none;
        background-color: #2f843a8a;
    }

    .li-especial {
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        transition: none;
    }
}

@media (max-width: 550px) {
    .header-bottom-side-right img {
        width: 80%;
    }
}








main {
    display: flex;
    justify-content: center;
}

.white-background {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 15px;
    border: 2px solid #2F843A
}

.lado-direito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lado-direito-superior {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    background-color: #2F843A;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.div-superior {
    margin-bottom: 10px;
}

.lado-direito-inferior {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    background-color: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-lado-esquerdo {
    margin-top: 70px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

.ingressos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.ingressos h2 {
    font-size: 1.2rem;
}

.titulo {
    font-size: 1.8rem;
}

.data, .endereco {
    font-weight: 500;
    font-size: 1rem;
}

.div-meia a {
    color: black;
}

.lado-direito-inferior a {
    color: black;
}

.confronto {
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 8px;
}

.nome-ingresso {
    width: 70%;
    display: flex;
    justify-content: start;
    margin-left: 25px;
    font-weight: 500;
}

.valor {
    width: 30%;
    display: flex;
    justify-content: right;
    margin-right: 25px;
    font-weight: 500;
}

.estadio {
    width: 50%;
    height: auto;
    margin-top: 10px;
}

.norte:hover {
    background-color: #b01e20c7;
    color: white;
}

.sul:hover {
    background-color: #1fbee6c7;
    color: white;
}

.leste:hover {
    background-color: #cd860cc7;
    color: white;
}

.oeste:hover {
    background-color: #781785c7;
    color: white;
}

.visitante:hover {
    background-color: #0c14b1c7;
    color: white;
}

.meia:hover {
    background-color: #808080c7;
    color: white;
}

.div-meia {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    display: none;
    flex-direction: column;
    width: 60%;
    text-align: center;
    background-color: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.visible {
    display: block;
}

@media (max-width: 1000px) {
    .lado-direito-superior, .lado-direito-inferior {
        width: 90%;
    }

    .estadio {
        width: 80%;
        margin-top: 20px;
    }

    .div-meia .ingressos{
        flex-direction: column;
    }

    .div-meia .ingressos h2 {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .ingressos {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .nome-ingresso, .valor {
        width: 100%;
        justify-content: center;
        margin: 0px;
    }

    .lado-direito-inferior {
        padding: 5px;
    }

    .titulo {
        font-size: 1.4rem;
    }

    .confronto {
        font-size: 1.2rem;
    }

    .data, .endereco {
        font-size: 0.9rem;
    }

    .titulo-lado-esquerdo {
        font-size: 1.4rem;
    }
}

@media (max-width: 650px) {
    .div-meia .ingressos h2 {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .ingressos h2 {
        font-size: 0.9rem;
    }

    .titulo {
        font-size: 1.2rem;
    }

    .confronto {
        font-size: 1rem;
    }

    .titulo-lado-esquerdo {
        font-size: 1.2rem;
    }
}









footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #2F843A;
    background-color: white;
}

.logo-footer {
    display: flex;
}

.logo-footer img {
    width: 100px;
    height: auto;
}

.info-contato {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.politicas {
    width: 400px;
}

.info-contato, .politicas {
    text-align: center;
}

.h3-footer {
    margin-bottom: 10px;
    color: black;
}

.p-footer {
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo-footer {
        margin-bottom: 25px;
    }

    .info-contato {
        margin-bottom: 25px;
    }
}

@media (max-width: 500px) {
    .logo-footer img {
        width: 100px;
        height: auto;
    }
}



