body{
    background-color: #F6F1F1;
    font-family:Georgia, serif;
}
.edit-table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}

.carousell {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cards {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    background-color: #AFD3E2;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /*define a direção da coluna */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cards form {
    margin-top: 10px; /*margem superior para separar o formulário do texto */
}

.cell {
    display: flex;
    align-items: center;
  }

  .cell span {
    margin-right: 10px;
    
  }

  .cell button {
    margin-left: 10px;
    
  }


.btn {
display: inline-block;
padding: 10px 20px;
background-color: #19A7CE;
color: #fff;
text-decoration: none;
border-radius: 5px;
}

.btn:hover {
    background-color: #146C94;
}
#button-container {
    text-align: right;
}

#button-container button{
    float: right;
}
.botão{
    display: flex;
    justify-content: flex-end;
}