body{
    font-family:Georgia, serif;
}
.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.table-card {
    width: 150px;
    height: 90px;
    margin-right: 10px;
    scroll-snap-align: start;
    background-color: #AFD3E2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
}

.table-card:hover {
    background-color: #AFD3E2; /* Cor alterada para realçar quando o mouse passar por cima */
}

.table-card2 {
    width: 90%;
    padding: 10px;
    background-color: #F6F1F1;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px; /* Adicionado um espaçamento superior para separar da tabela selecionada */
}

.estilo {
    border: 1px solid lightgray;
    padding: 6px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #F6F1F1;
    font-weight: bold;
    padding: 8px; /* Aumentado o espaçamento interno para os cabeçalhos da tabela */
}

tr:nth-child(even) {
    background-color: #F6F1F1;
}

tr:hover {
    background-color: #AFD3E2;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #19A7CE;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    }
    
    .btn:hover {
        background-color: #146C94;
    }
    #button-container {
        text-align: right;
    }
    
    #button-container button{
        float: right;
    }
    .botão{
        display: flex;
        justify-content: flex-end;
    }