<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/esqueceu_senha.css">

    <title>
        Goal Tickets - Esqueceu a senha
    </title>
</head>
<body>
    <div class="navbar">
        <div class="header-inner-content">
            <a href="/"><h1 class="logo">GOAL<span>TICKETS</span></h1></a>
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/Rodada1"><li>Jogos</li></a>
                    <a href="/Ajuda"><li>Ajuda</li></a>
                    <a href="/Login"><li>Conta</li></a>
                    <a href="/Perfil"><li class="menu-especial">Perfil</li></a>
                </ul>
            </nav>
            <div class="nav-icon-content">
                <a href="/Login"><img src="../static/midias/Perfil.png" alt="icone de perfil" class="perfil-button"></a>
                <img src="../static/midias/Menu.png" alt="icone menu de opções" class="menu-button">
            </div>
        </div>
    </div>
    <div class="gray-background">
        <div class="white-background">
            <div class="image-div">
                <img src="../static/midias/Logo-2.png" alt="Logo da Goal Tickets" class="logo-2">
            </div>
            <div class="form-div">
                <h2 class="form-title">Recuperar senha</h2>
                <input type="email" name="email" class="form-input email-input" id="email" placeholder="E-mail">
                <h3 class="menssagem">E-mail enviado com sucesso!</h3>
                <button class="form-button button-1" type="submit" id="submit-button">Recuperar senha</button>
                <a href="/Login" class="h3-a"><h3 class="h3-password">Voltar para login</h3></a>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="info-contato">
            <h3 class="h3-footer">Contato</h3>
            <p class="p-footer">Endereço: Rua 7 de Setembro, N° 1314 <br> Centro, Blumenau - SC, 89010-202</p>
            <p class="p-footer">Telefone: (47) 3332-4596</p>
            <p>Email: contato@goaltickets.com.br</p>
        </div>
        <div class="logo-footer">
            <img src="../static/midias/Logo-2.png" alt="Logo da Goal Tickets">
        </div>
        <div class="politicas">
            <h3 class="h3-footer">Políticas de Copyright</h3>
            <p class="p-footer">&copy; 2024 Goal Tickets. Todos os direitos reservados.</p>
            <p>Termos de Uso | Política de Privacidade</p>
        </div>
    </footer>

    <script type="text/javascript" src="../static/scripts/conta.js"></script>
</body>
</html>