<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/jogos_3.css">

    <title>
        Goal Tickets - Rodada 3
    </title>
</head>
<body>
    <div class="navbar">
        <div class="header-inner-content">
            <a href="/"><h1 class="logo">GOAL<span>TICKETS</span></h1></a>
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/Rodada1"><li>Jogos</li></a>
                    <a href="/Ajuda"><li>Ajuda</li></a>
                    <a href="/Login"><li id="conta">Conta</li></a>
                    <a href="/Perfil"><li class="menu-especial" id="perfil">Perfil</li></a>
                    <button class="logout" id="logout">Sair</button>
                </ul>
            </nav>
            <div class="nav-icon-content">
                <h3 id="usuario" class="usuario"></h3>
                <a href="/Login" id="perfil-button"><img src="../static/midias/Perfil.png" alt="icone de perfil" class="perfil-button"></a>
                <img src="../static/midias/Menu.png" alt="icone menu de opções" class="menu-button">
            </div>
        </div>
    </div>
    <main class="main">
        <div class="white-background">
            <div class="title-jogos">
                <h2>Rodada:</h2>
                <a href="/Rodada1"><h2 class="rodada-1">1</h2></a>
                <a href="/Rodada2"><h2 class="rodada-2">2</h2></a>
                <a href="/Rodada3"><h2 class="rodada-3">3</h2></a>
            </div>

           <div class="linha-1">
                <div class="jogo-1 jogos">
                        <h2 class="estadio">Maracanã</h2>
                        <h2 class="data">20/04 • Sábado • 16:00</h2>
                        <img src="../static/midias/Jogos/Fluminense X Vasco.png">
                        <h2 class="confronto">Fluminense x Vasco</h2>
                        <a href="/Rodada3-Jogo1"><button>Compre agora</button></a>
                </div>
                
                <div class="jogo-2 jogos">
                        <h2 class="estadio">Arena do Grêmio</h2>
                        <h2 class="data">20/04 • Sábado • 18:30</h2>
                        <img src="../static/midias/Jogos/Grêmio X Cuiabá.png">
                        <h2 class="confronto">Grêmio x Cuiabá</h2>
                        <a href="/Rodada3-Jogo2"><button>Compre agora</button></a>
                </div>
           </div> 

           <div class="linha-2">
                <div class="jogo-3 jogos">
                        <h2 class="estadio">Nabi Abi Chedid</h2>
                        <h2 class="data">20/04 • Sábado • 18:30</h2>
                        <img src="../static/midias/Jogos/Bragantino X Corinthians.png">
                        <h2 class="confronto">Bragantino x Corinthians</h2>
                        <a href="/Rodada3-Jogo3"><button>Compre agora</button></a>
                </div>

                <div class="jogo-4 jogos">
                        <h2 class="estadio">Arena MRV</h2>
                        <h2 class="data">20/04 • Sábado • 21:00</h2>
                        <img src="../static/midias/Jogos/Atlético-MG X Cruzeiro.png">
                        <h2 class="confronto">Atlético-MG x Cruzeiro</h2>
                        <a href="/Rodada3-Jogo4"><button>Compre agora</button></a>
                </div>
           </div>

           <div class="linha-3">
                <div class="jogo-5 jogos">
                        <h2 class="estadio">Barradão</h2>
                        <h2 class="data">21/04 • Domingo • 16:00</h2>
                        <img src="../static/midias/Jogos/Vitória X Bahia.png">
                        <h2 class="confronto">Vitória x Bahia</h2>
                        <a href="/Rodada3-Jogo5"><button>Compre agora</button></a>
                </div>
                
                <div class="jogo-6 jogos">
                        <h2 class="estadio">Allianz Parque</h2>
                        <h2 class="data">21/04 • Domingo • 16:00</h2>
                        <img src="../static/midias/Jogos/Palmeiras X Flamengo.png">
                        <h2 class="confronto">Palmeiras x Flamengo</h2>
                        <a href="/Rodada3-Jogo6"><button>Compre agora</button></a>
                </div>
           </div>

           <div class="linha-4">
                <div class="jogo-7 jogos">
                        <h2 class="estadio">Ligga Arena</h2>
                        <h2 class="data">21/04 • Domingo • 16:00</h2>
                        <img src="../static/midias/Jogos/Athletico-PR X Internacional.png">
                        <h2 class="confronto">Athletico-PR x Internacional</h2>
                        <a href="/Rodada3-Jogo7"><button>Compre agora</button></a>
                </div>

                <div class="jogo-8 jogos">var status = "{{ status }}"
                        <h2 class="estadio">Nilton Santos</h2>
                        <h2 class="data">21/04 • Domingo • 18:30</h2>
                        <img src="../static/midias/Jogos/Botafogo X Juventude.png">
                        <h2 class="confronto">Botafogo x Juventude</h2>
                        <a href="/Rodada3-Jogo8"><button>Compre agora</button></a>
                </div>
           </div>

           <div class="linha-5">
                <div class="jogo-9 jogos">
                        <h2 class="estadio">Antônio Accioly</h2>
                        <h2 class="data">21/04 • Domingo • 18:30</h2>
                        <img src="../static/midias/Jogos/Atlético-GO X São Paulo.png">
                        <h2 class="confronto">Atlético-GO x São Paulo</h2>
                        <a href="/Rodada3-Jogo9"><button>Compre agora</button></a>
                </div>
                <div class="jogo-10 jogos">
                    <h2 class="estadio">Heriberto Hülse</h2>
                    <h2 class="data">21/04 • Domingo • 20:00</h2>
                    <img src="../static/midias/Jogos/Criciúma X Fortaleza.png">
                    <h2 class="confronto">Criciúma x Fortaleza</h2>
                    <a href="/Rodada3-Jogo10"><button>Compre agora</button></a>
            </div>
           </div>
        </div>
    </main>
    <footer id="footer">
        <div class="info-contato">
            <h3 class="h3-footer">Contato</h3>
            <p class="p-footer">Endereço: Rua 7 de Setembro, N° 1314 <br> Centro, Blumenau - SC, 89010-202</p>
            <p class="p-footer">Telefone: (47) 3332-4596</p>
            <p>Email: contato@goaltickets.com.br</p>
        </div>
        <div class="logo-footer">
            <img src="../static/midias/Logo-2.png" alt="Logo da Goal Tickets">
        </div>
        <div class="politicas">
            <h3 class="h3-footer">Políticas de Copyright</h3>
            <p class="p-footer">&copy; 2024 Goal Tickets. Todos os direitos reservados.</p>
            <p>Termos de Uso | Política de Privacidade</p>
        </div>
    </footer>
    <script>
        const navbar = document.querySelector(".navbar");
        const menuButton = document.querySelector(".menu-button");

        menuButton.addEventListener("click", () => {
        navbar.classList.toggle("show-menu");
        });

        var status = "{{ status }}"
        var nome = "{{ nome_perfil }}";
        var conta = document.getElementById("conta");
        var perfil = document.getElementById("perfil");
        var logout = document.getElementById("logout")
        const usuario = document.getElementById('usuario');
        
        if (status === "Logado") {
            conta.style.display = "none";
            perfil.style.display = "block";
            logout.style.display = "block";
            usuario.innerText = nome;

            document.addEventListener('DOMContentLoaded', function() {
                var perfilLink = document.getElementById('perfil-button');
                perfilLink.href = '/Perfil';
            });
        } 

        if (status === "deslogado") {
            conta.style.display = "block";
            perfil.style.display = "none";
            logout.style.display = "none";
            usuario.innerText = "";
        }

        document.getElementById('logout').addEventListener('click', function() {
            window.location.href = '/logout';
        });
    </script>
</body>