<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/edit_table.css">
        <title>Edit table</title>
    </head>

    <body>
        <!-- Botão para redirecionar para a rota "/" -->
        <div class="botão">
            <button id="button-container" class="btn" onclick="redirectToIndex()">Home</button>
            <button id="button-container" class="btn" onclick="redirectToShowtable()">View Tables</button>
        </div>
        <h1>Edit the table: {{ table.name }}</h1>
        <hr><br>

        <div class="carousell" style="margin: 0 auto;">
            <!-- div que permite alterar o nome da tabela -->
            <div class="cards">
                <h2>Change Table Name</h2>
                <form action="{{ url_for('edit_table', table_id=table.id) }}" method="POST">
                    <input type="text" name="name" value="{{ table.name }}" required>
                    <button type="submit">Update</button>
                </form>
            </div>

            <!-- div que faz adição de colunas -->
            <div class="cards">
                <h2>Add Columns</h2>
                <form action="{{ url_for('add_column', table_id=table.id) }}" method="POST">
                    <input type="text" name="name" placeholder="Column name" required>
                    <button type="submit">Add</button>
                </form>
            </div>

            <!-- div que faz adição de linhas -->
            <div class="cards">
                <h2>Add Row</h2>
                <form action="{{ url_for('add_row', table_id=table.id) }}" method="POST">
                    <button type="submit">Add</button>
                </form>
            </div>

        </div>
        <br><br><hr>

        <!-- section de exibição das tabelas -->
        <section>
            <h2 style="text-align: center;">{{ table.name }}</h2>
            <table class="edit-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        {% for column in table.columns %}
                            <th id="column-{{ loop.index }}">
                                {{ column.name }}
                                <form action="{{ url_for('delete_column', column_id=column.id) }}" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table.rows %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% for column in table.columns %}
                            {% set cell = row.cells|selectattr('column_id', '==', column.id)|first %}
                                {% if cell %}
                                    <td>
                                        <span>{{ cell.value }}</span>
                                        <form class="cell"  action="{{ url_for('delete_cell', table_id=table.id, column_id=column.id, row_id=row.id) }}" method="POST">
                                            <button class="delete-button" type="submit">Delete</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        <form class="cell" action="{{ url_for('add_cell', table_id=table.id, column_id=column.id, row_id=row.id) }}" method="POST">
                                            <input type="text" name="value" placeholder="New element" required>
                                            <button class="add-button" type="submit">Add</button>
                                        </form>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <form action="{{ url_for('delete_row', table_id=table.id, row_id=row.id) }}" method="POST">
                                    <button type="submit">Delete line</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->
        <script>
            
            // Redirect to index
            function redirectToIndex() {
                window.location.href = "/";
            }

            // Redirect to show table
            function redirectToShowtable() {
            window.location.href = "{{ url_for('show_tables') }}"
            }
        </script>
    </body>
</html>
