<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/show_tables.css">
        <title>Show Created Tables</title>
    </head>
    <body>

        <!-- Seção de carrossel para listar as tabelas existentes -->
        <section>
            <!-- Botão para redirecionar para a rota "/" -->
            <div class="botão">
                <button id="button-container" class="btn" onclick="redirectToIndex()">Home</button>
            </div>
            <h1 style="text-align: center;">Show Tables</h1>
            <div class="carousel">
                {% for table in tables %}
                    <a href="#" class="table-card" data-table-id="{{ table.id }}" style="text-decoration: none; color: black; font-family: 'Times New Roman', Times, serif; margin: 0 auto;">
                        {{ table.name }}
                    </a>
                   
                {% endfor %}
            </div>
        </section>

        <!-- Seção de exibição para expandir as tabelas clicadas -->
        <section>
            <h2>Selected Table:</h2>
            <div class="selected-table">
                <div class="table-card2">
                    <h3 id="table-name"></h3>
                    <table id="table-data">
                        <thead>
                            <tr>
                                {% for column in columns %}
                                    <th class="estilo">{{ column }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table_data %}
                                <tr>
                                    {% for column in columns %}
                                        {% if column in row %}
                                            <td class="estilo">{{ row[column] }}</td>
                                        {% else %}
                                            <td class="estilo"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function redirectToIndex() {
                window.location.href = "/";
            }
        </script>
        <script>
            $(document).ready(function() {
                $(".table-card").click(function() {
                    var tableId = $(this).data("table-id");
                    loadTableData(tableId);
                });

                function loadTableData(tableId) {
                    // Fazer uma requisição AJAX para obter os dados da tabela pelo ID e preencher a div "selected-table"
                    $.ajax({
                        url: "/get_table_data/" + tableId,
                        type: "GET",
                        success: function(data) {
                            $("#table-name").text(data.table_name); // Definir o nome da tabela

                            // Preencher as colunas da tabela
                            var tableColumns = data.columns.map(function(column) {
                                return "<th class='estilo'>" + column + "</th>"; // Criar uma célula de coluna para cada coluna na tabela
                            });
                            $("#table-data thead tr").html(tableColumns.join("")); // Adicionar as colunas à linha de cabeçalho da tabela

                            // Preencher os dados da tabela
                            var tableData = data.table_data.map(function(row) {
                                var rowData = data.columns.map(function(column) {
                                    return "<td class='estilo'>" + (row[column] || "") + "</td>"; // Criar células de dados para cada coluna na linha
                                });
                                return "<tr>" + rowData.join("") + "</tr>"; // Criar uma linha com as células de dados
                            });
                            $("#table-data tbody").html(tableData.join("")); // Adicionar as linhas de dados ao corpo da tabela HTML
                        },
                        error: function() {
                            $(".selected-table").html("<p>Erro ao carregar os dados da tabela.</p>");
                        }
                    });
                }
            });
        </script>
      
    </body>
</html>
